
Helio.Network.Client/bin/Debug/netstandard2.0/Helio.Network.Client.deps.json
Helio.Network.Client/bin/Debug/netstandard2.0/Helio.Network.Client.dll
Helio.Network.Client/bin/Debug/netstandard2.0/Helio.Network.Client.pdb
Helio.Network.Client/bin/Debug/netstandard2.0/Helio.Network.dll
Helio.Network.Client/bin/Debug/netstandard2.0/Helio.Network.pdb
Helio.Network.Client/bin/Debug/netstandard2.0/Lidgren.Network.dll
Helio.Network.Client/bin/Debug/netstandard2.0/Lidgren.Network.pdb
Helio.Network.Client/bin/Debug/netstandard2.0/Lidgren.Network.xml
Helio.Network.Client/bin/Debug/netstandard2.0/protobuf-net.dll
Helio.Network.Client/bin/Debug/netstandard2.0/protobuf-net.pdb
Helio.Network.Client/bin/Debug/netstandard2.0/protobuf-net.xml
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.AssemblyInfo.cs
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.AssemblyInfoInputs.cache
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.assets.cache
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.csproj.CopyComplete
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.csproj.CoreCompileInputs.cache
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.csproj.FileListAbsolute.txt
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.csprojAssemblyReference.cache
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.dll
Helio.Network.Client/obj/Debug/netstandard2.0/Helio.Network.Client.pdb
Helio.Network.Client/obj/Helio.Network.Client.csproj.nuget.cache
Helio.Network.Client/obj/Helio.Network.Client.csproj.nuget.g.props
Helio.Network.Client/obj/Helio.Network.Client.csproj.nuget.g.targets
Helio.Network.Client/obj/project.assets.json
Helio.Network.Server/.vs/Helio.Network.Server/v15/Server/sqlite3/db.lock
Helio.Network.Server/.vs/Helio.Network.Server/v15/Server/sqlite3/storage.ide
Helio.Network.Server/.vs/Helio.Network.Server/v15/Server/sqlite3/storage.ide-shm
Helio.Network.Server/.vs/Helio.Network.Server/v15/Server/sqlite3/storage.ide-wal
Helio.Network.Server/bin/Debug/netstandard2.0/Helio.Network.dll
Helio.Network.Server/bin/Debug/netstandard2.0/Helio.Network.pdb
Helio.Network.Server/bin/Debug/netstandard2.0/Helio.Network.Server.deps.json
Helio.Network.Server/bin/Debug/netstandard2.0/Helio.Network.Server.dll
Helio.Network.Server/bin/Debug/netstandard2.0/Helio.Network.Server.pdb
Helio.Network.Server/bin/Debug/netstandard2.0/Lidgren.Network.dll
Helio.Network.Server/bin/Debug/netstandard2.0/Lidgren.Network.pdb
Helio.Network.Server/bin/Debug/netstandard2.0/Lidgren.Network.xml
Helio.Network.Server/bin/Debug/netstandard2.0/protobuf-net.dll
Helio.Network.Server/bin/Debug/netstandard2.0/protobuf-net.pdb
Helio.Network.Server/bin/Debug/netstandard2.0/protobuf-net.xml
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.AssemblyInfo.cs
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.AssemblyInfoInputs.cache
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.assets.cache
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.csproj.CopyComplete
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.csproj.CoreCompileInputs.cache
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.csproj.FileListAbsolute.txt
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.csprojAssemblyReference.cache
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.dll
Helio.Network.Server/obj/Debug/netstandard2.0/Helio.Network.Server.pdb
Helio.Network.Server/obj/Helio.Network.Server.csproj.nuget.cache
Helio.Network.Server/obj/Helio.Network.Server.csproj.nuget.g.props
Helio.Network.Server/obj/Helio.Network.Server.csproj.nuget.g.targets
Helio.Network.Server/obj/project.assets.json
Helio.Network.Test.Client/bin/Debug/Helio.Network.Client.dll
Helio.Network.Test.Client/bin/Debug/Helio.Network.Client.pdb
Helio.Network.Test.Client/bin/Debug/Helio.Network.dll
Helio.Network.Test.Client/bin/Debug/Helio.Network.pdb
Helio.Network.Test.Client/bin/Debug/Helio.Network.Test.Client.exe
Helio.Network.Test.Client/bin/Debug/Helio.Network.Test.Client.exe.config
Helio.Network.Test.Client/bin/Debug/Helio.Network.Test.Client.pdb
Helio.Network.Test.Client/bin/Debug/Helio.Network.Test.dll
Helio.Network.Test.Client/bin/Debug/Helio.Network.Test.pdb
Helio.Network.Test.Client/bin/Debug/Lidgren.Network.dll
Helio.Network.Test.Client/bin/Debug/Lidgren.Network.pdb
Helio.Network.Test.Client/bin/Debug/Lidgren.Network.xml
Helio.Network.Test.Client/bin/Debug/Microsoft.Win32.Primitives.dll
Helio.Network.Test.Client/bin/Debug/netstandard.dll
Helio.Network.Test.Client/bin/Debug/protobuf-net.dll
Helio.Network.Test.Client/bin/Debug/protobuf-net.pdb
Helio.Network.Test.Client/bin/Debug/protobuf-net.xml
Helio.Network.Test.Client/bin/Debug/System.AppContext.dll
Helio.Network.Test.Client/bin/Debug/System.Collections.Concurrent.dll
Helio.Network.Test.Client/bin/Debug/System.Collections.dll
Helio.Network.Test.Client/bin/Debug/System.Collections.NonGeneric.dll
Helio.Network.Test.Client/bin/Debug/System.Collections.Specialized.dll
Helio.Network.Test.Client/bin/Debug/System.ComponentModel.dll
Helio.Network.Test.Client/bin/Debug/System.ComponentModel.EventBasedAsync.dll
Helio.Network.Test.Client/bin/Debug/System.ComponentModel.Primitives.dll
Helio.Network.Test.Client/bin/Debug/System.ComponentModel.TypeConverter.dll
Helio.Network.Test.Client/bin/Debug/System.Console.dll
Helio.Network.Test.Client/bin/Debug/System.Data.Common.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.Contracts.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.Debug.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.FileVersionInfo.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.Process.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.StackTrace.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.Tools.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.TraceSource.dll
Helio.Network.Test.Client/bin/Debug/System.Diagnostics.Tracing.dll
Helio.Network.Test.Client/bin/Debug/System.Drawing.Primitives.dll
Helio.Network.Test.Client/bin/Debug/System.Dynamic.Runtime.dll
Helio.Network.Test.Client/bin/Debug/System.Globalization.Calendars.dll
Helio.Network.Test.Client/bin/Debug/System.Globalization.dll
Helio.Network.Test.Client/bin/Debug/System.Globalization.Extensions.dll
Helio.Network.Test.Client/bin/Debug/System.IO.Compression.dll
Helio.Network.Test.Client/bin/Debug/System.IO.Compression.ZipFile.dll
Helio.Network.Test.Client/bin/Debug/System.IO.dll
Helio.Network.Test.Client/bin/Debug/System.IO.FileSystem.dll
Helio.Network.Test.Client/bin/Debug/System.IO.FileSystem.DriveInfo.dll
Helio.Network.Test.Client/bin/Debug/System.IO.FileSystem.Primitives.dll
Helio.Network.Test.Client/bin/Debug/System.IO.FileSystem.Watcher.dll
Helio.Network.Test.Client/bin/Debug/System.IO.IsolatedStorage.dll
Helio.Network.Test.Client/bin/Debug/System.IO.MemoryMappedFiles.dll
Helio.Network.Test.Client/bin/Debug/System.IO.Pipes.dll
Helio.Network.Test.Client/bin/Debug/System.IO.UnmanagedMemoryStream.dll
Helio.Network.Test.Client/bin/Debug/System.Linq.dll
Helio.Network.Test.Client/bin/Debug/System.Linq.Expressions.dll
Helio.Network.Test.Client/bin/Debug/System.Linq.Parallel.dll
Helio.Network.Test.Client/bin/Debug/System.Linq.Queryable.dll
Helio.Network.Test.Client/bin/Debug/System.Net.Http.dll
Helio.Network.Test.Client/bin/Debug/System.Net.NameResolution.dll
Helio.Network.Test.Client/bin/Debug/System.Net.NetworkInformation.dll
Helio.Network.Test.Client/bin/Debug/System.Net.Ping.dll
Helio.Network.Test.Client/bin/Debug/System.Net.Primitives.dll
Helio.Network.Test.Client/bin/Debug/System.Net.Requests.dll
Helio.Network.Test.Client/bin/Debug/System.Net.Security.dll
Helio.Network.Test.Client/bin/Debug/System.Net.Sockets.dll
Helio.Network.Test.Client/bin/Debug/System.Net.WebHeaderCollection.dll
Helio.Network.Test.Client/bin/Debug/System.Net.WebSockets.Client.dll
Helio.Network.Test.Client/bin/Debug/System.Net.WebSockets.dll
Helio.Network.Test.Client/bin/Debug/System.ObjectModel.dll
Helio.Network.Test.Client/bin/Debug/System.Reflection.dll
Helio.Network.Test.Client/bin/Debug/System.Reflection.Extensions.dll
Helio.Network.Test.Client/bin/Debug/System.Reflection.Primitives.dll
Helio.Network.Test.Client/bin/Debug/System.Resources.Reader.dll
Helio.Network.Test.Client/bin/Debug/System.Resources.ResourceManager.dll
Helio.Network.Test.Client/bin/Debug/System.Resources.Writer.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.Extensions.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.Handles.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.InteropServices.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.Numerics.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.Serialization.Formatters.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.Serialization.Json.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.Serialization.Primitives.dll
Helio.Network.Test.Client/bin/Debug/System.Runtime.Serialization.Xml.dll
Helio.Network.Test.Client/bin/Debug/System.Security.Claims.dll
Helio.Network.Test.Client/bin/Debug/System.Security.Cryptography.Algorithms.dll
Helio.Network.Test.Client/bin/Debug/System.Security.Cryptography.Csp.dll
Helio.Network.Test.Client/bin/Debug/System.Security.Cryptography.Encoding.dll
Helio.Network.Test.Client/bin/Debug/System.Security.Cryptography.Primitives.dll
Helio.Network.Test.Client/bin/Debug/System.Security.Cryptography.X509Certificates.dll
Helio.Network.Test.Client/bin/Debug/System.Security.Principal.dll
Helio.Network.Test.Client/bin/Debug/System.Security.SecureString.dll
Helio.Network.Test.Client/bin/Debug/System.Text.Encoding.dll
Helio.Network.Test.Client/bin/Debug/System.Text.Encoding.Extensions.dll
Helio.Network.Test.Client/bin/Debug/System.Text.RegularExpressions.dll
Helio.Network.Test.Client/bin/Debug/System.Threading.dll
Helio.Network.Test.Client/bin/Debug/System.Threading.Overlapped.dll
Helio.Network.Test.Client/bin/Debug/System.Threading.Tasks.dll
Helio.Network.Test.Client/bin/Debug/System.Threading.Tasks.Parallel.dll
Helio.Network.Test.Client/bin/Debug/System.Threading.Thread.dll
Helio.Network.Test.Client/bin/Debug/System.Threading.ThreadPool.dll
Helio.Network.Test.Client/bin/Debug/System.Threading.Timer.dll
Helio.Network.Test.Client/bin/Debug/System.ValueTuple.dll
Helio.Network.Test.Client/bin/Debug/System.Xml.ReaderWriter.dll
Helio.Network.Test.Client/bin/Debug/System.Xml.XDocument.dll
Helio.Network.Test.Client/bin/Debug/System.Xml.XmlDocument.dll
Helio.Network.Test.Client/bin/Debug/System.Xml.XmlSerializer.dll
Helio.Network.Test.Client/bin/Debug/System.Xml.XPath.dll
Helio.Network.Test.Client/bin/Debug/System.Xml.XPath.XDocument.dll
Helio.Network.Test.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Helio.Network.Test.Client/obj/Debug/Helio.Network.Test.Client.csproj.CopyComplete
Helio.Network.Test.Client/obj/Debug/Helio.Network.Test.Client.exe
Helio.Network.Test.Client/obj/Debug/Helio.Network.Test.Client.exe.config
Helio.Network.Test.Client/obj/Debug/Helio.Network.Test.Client.pdb
Helio.Network.Test.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Helio.Network.Test.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Helio.Network.Test.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Helio.Network.Test.Client/obj/Debug/Helio.Network.Test.Client.csprojAssemblyReference.cache
Helio.Network.Test.Client/obj/Debug/Helio.Network.Test.Client.csproj.CoreCompileInputs.cache
Helio.Network.Test.Client/obj/Debug/Helio.Network.Test.Client.csproj.FileListAbsolute.txt
Helio.Network.Test.Server/bin/Debug/Helio.Network.dll
Helio.Network.Test.Server/bin/Debug/Helio.Network.pdb
Helio.Network.Test.Server/bin/Debug/Helio.Network.Server.dll
Helio.Network.Test.Server/bin/Debug/Helio.Network.Server.pdb
Helio.Network.Test.Server/bin/Debug/Helio.Network.Test.dll
Helio.Network.Test.Server/bin/Debug/Helio.Network.Test.pdb
Helio.Network.Test.Server/bin/Debug/Helio.Network.Test.Server.exe
Helio.Network.Test.Server/bin/Debug/Helio.Network.Test.Server.exe.config
Helio.Network.Test.Server/bin/Debug/Helio.Network.Test.Server.pdb
Helio.Network.Test.Server/bin/Debug/Lidgren.Network.dll
Helio.Network.Test.Server/bin/Debug/Lidgren.Network.pdb
Helio.Network.Test.Server/bin/Debug/Lidgren.Network.xml
Helio.Network.Test.Server/bin/Debug/Microsoft.Win32.Primitives.dll
Helio.Network.Test.Server/bin/Debug/netstandard.dll
Helio.Network.Test.Server/bin/Debug/protobuf-net.dll
Helio.Network.Test.Server/bin/Debug/protobuf-net.pdb
Helio.Network.Test.Server/bin/Debug/protobuf-net.xml
Helio.Network.Test.Server/bin/Debug/System.AppContext.dll
Helio.Network.Test.Server/bin/Debug/System.Collections.Concurrent.dll
Helio.Network.Test.Server/bin/Debug/System.Collections.dll
Helio.Network.Test.Server/bin/Debug/System.Collections.NonGeneric.dll
Helio.Network.Test.Server/bin/Debug/System.Collections.Specialized.dll
Helio.Network.Test.Server/bin/Debug/System.ComponentModel.dll
Helio.Network.Test.Server/bin/Debug/System.ComponentModel.EventBasedAsync.dll
Helio.Network.Test.Server/bin/Debug/System.ComponentModel.Primitives.dll
Helio.Network.Test.Server/bin/Debug/System.ComponentModel.TypeConverter.dll
Helio.Network.Test.Server/bin/Debug/System.Console.dll
Helio.Network.Test.Server/bin/Debug/System.Data.Common.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.Contracts.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.Debug.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.FileVersionInfo.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.Process.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.StackTrace.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.Tools.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.TraceSource.dll
Helio.Network.Test.Server/bin/Debug/System.Diagnostics.Tracing.dll
Helio.Network.Test.Server/bin/Debug/System.Drawing.Primitives.dll
Helio.Network.Test.Server/bin/Debug/System.Dynamic.Runtime.dll
Helio.Network.Test.Server/bin/Debug/System.Globalization.Calendars.dll
Helio.Network.Test.Server/bin/Debug/System.Globalization.dll
Helio.Network.Test.Server/bin/Debug/System.Globalization.Extensions.dll
Helio.Network.Test.Server/bin/Debug/System.IO.Compression.dll
Helio.Network.Test.Server/bin/Debug/System.IO.Compression.ZipFile.dll
Helio.Network.Test.Server/bin/Debug/System.IO.dll
Helio.Network.Test.Server/bin/Debug/System.IO.FileSystem.dll
Helio.Network.Test.Server/bin/Debug/System.IO.FileSystem.DriveInfo.dll
Helio.Network.Test.Server/bin/Debug/System.IO.FileSystem.Primitives.dll
Helio.Network.Test.Server/bin/Debug/System.IO.FileSystem.Watcher.dll
Helio.Network.Test.Server/bin/Debug/System.IO.IsolatedStorage.dll
Helio.Network.Test.Server/bin/Debug/System.IO.MemoryMappedFiles.dll
Helio.Network.Test.Server/bin/Debug/System.IO.Pipes.dll
Helio.Network.Test.Server/bin/Debug/System.IO.UnmanagedMemoryStream.dll
Helio.Network.Test.Server/bin/Debug/System.Linq.dll
Helio.Network.Test.Server/bin/Debug/System.Linq.Expressions.dll
Helio.Network.Test.Server/bin/Debug/System.Linq.Parallel.dll
Helio.Network.Test.Server/bin/Debug/System.Linq.Queryable.dll
Helio.Network.Test.Server/bin/Debug/System.Net.Http.dll
Helio.Network.Test.Server/bin/Debug/System.Net.NameResolution.dll
Helio.Network.Test.Server/bin/Debug/System.Net.NetworkInformation.dll
Helio.Network.Test.Server/bin/Debug/System.Net.Ping.dll
Helio.Network.Test.Server/bin/Debug/System.Net.Primitives.dll
Helio.Network.Test.Server/bin/Debug/System.Net.Requests.dll
Helio.Network.Test.Server/bin/Debug/System.Net.Security.dll
Helio.Network.Test.Server/bin/Debug/System.Net.Sockets.dll
Helio.Network.Test.Server/bin/Debug/System.Net.WebHeaderCollection.dll
Helio.Network.Test.Server/bin/Debug/System.Net.WebSockets.Client.dll
Helio.Network.Test.Server/bin/Debug/System.Net.WebSockets.dll
Helio.Network.Test.Server/bin/Debug/System.ObjectModel.dll
Helio.Network.Test.Server/bin/Debug/System.Reflection.dll
Helio.Network.Test.Server/bin/Debug/System.Reflection.Extensions.dll
Helio.Network.Test.Server/bin/Debug/System.Reflection.Primitives.dll
Helio.Network.Test.Server/bin/Debug/System.Resources.Reader.dll
Helio.Network.Test.Server/bin/Debug/System.Resources.ResourceManager.dll
Helio.Network.Test.Server/bin/Debug/System.Resources.Writer.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.Extensions.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.Handles.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.InteropServices.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.Numerics.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.Serialization.Formatters.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.Serialization.Json.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.Serialization.Primitives.dll
Helio.Network.Test.Server/bin/Debug/System.Runtime.Serialization.Xml.dll
Helio.Network.Test.Server/bin/Debug/System.Security.Claims.dll
Helio.Network.Test.Server/bin/Debug/System.Security.Cryptography.Algorithms.dll
Helio.Network.Test.Server/bin/Debug/System.Security.Cryptography.Csp.dll
Helio.Network.Test.Server/bin/Debug/System.Security.Cryptography.Encoding.dll
Helio.Network.Test.Server/bin/Debug/System.Security.Cryptography.Primitives.dll
Helio.Network.Test.Server/bin/Debug/System.Security.Cryptography.X509Certificates.dll
Helio.Network.Test.Server/bin/Debug/System.Security.Principal.dll
Helio.Network.Test.Server/bin/Debug/System.Security.SecureString.dll
Helio.Network.Test.Server/bin/Debug/System.Text.Encoding.dll
Helio.Network.Test.Server/bin/Debug/System.Text.Encoding.Extensions.dll
Helio.Network.Test.Server/bin/Debug/System.Text.RegularExpressions.dll
Helio.Network.Test.Server/bin/Debug/System.Threading.dll
Helio.Network.Test.Server/bin/Debug/System.Threading.Overlapped.dll
Helio.Network.Test.Server/bin/Debug/System.Threading.Tasks.dll
Helio.Network.Test.Server/bin/Debug/System.Threading.Tasks.Parallel.dll
Helio.Network.Test.Server/bin/Debug/System.Threading.Thread.dll
Helio.Network.Test.Server/bin/Debug/System.Threading.ThreadPool.dll
Helio.Network.Test.Server/bin/Debug/System.Threading.Timer.dll
Helio.Network.Test.Server/bin/Debug/System.ValueTuple.dll
Helio.Network.Test.Server/bin/Debug/System.Xml.ReaderWriter.dll
Helio.Network.Test.Server/bin/Debug/System.Xml.XDocument.dll
Helio.Network.Test.Server/bin/Debug/System.Xml.XmlDocument.dll
Helio.Network.Test.Server/bin/Debug/System.Xml.XmlSerializer.dll
Helio.Network.Test.Server/bin/Debug/System.Xml.XPath.dll
Helio.Network.Test.Server/bin/Debug/System.Xml.XPath.XDocument.dll
.vs/Helio.Network/v15/.suo
Helio.Network.Test/obj/Debug/netstandard2.0/Helio.Network.Test.csprojAssemblyReference.cache
.vs/Helio.Network/v15/Server/sqlite3/storage.ide-wal
.vs/Helio.Network/v15/Server/sqlite3/storage.ide-shm
.vs/Helio.Network/v15/Server/sqlite3/storage.ide
.vs/Helio.Network/v15/Server/sqlite3/db.lock
